body {
    margin:0;
    padding: 0;
}
main {
    background-color: #0B2434;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .white-board {
    background-color: white;
    width: 90%;
    height: 90%;
}
